.editorial {
    max-width: $sizeTablet;
    margin: auto;
}
body,
html {
    font-size: $fontSizeNormal;
}

p,
li {
    font-size: $fontSizeMedium;
    line-height: 1.4em;
    padding: 0 0 10px;
    margin: 0;
    @include mobile {
        font-size: $fontSizeNormal
    }
}
img {
    max-width: 100%;
}
h1 {
    font-weight: bold;
    font-size: calc($fontSizeHuge * 8 / 10);
    padding: 20px 0;
    margin: 0 0 20px;
    color: $colorAccent;
    position: relative;
    line-height: 1.2em;
    font-family: $fontFamilyAlt;
    &:after {
        width: 200px;
        height: 5px;
        background: rgba($colorMainAlt, 0.5);
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        border-top: 1px solid $colorMainAlt;
    }
}

h2 {
    font-weight: bold;
    font-size: $fontSizeHuge * 6 / 10;
    padding: 0 0 10px;
    margin: 0 0 10px;
    color: $black;
    font-family: $fontFamilyAlt;
    line-height: 1.2em;
    a {
        color: $colorAccent;
    }
}

h3 {
    font-weight: bold;
    font-size: $fontSizeHuge * 5 / 10;
    margin: 0 0 20px;
    color: $black;
    line-height: 1em;
    font-family: $fontFamilyAlt;
    a {
        color: $colorAccent;
    }
}
blockquote {
    margin: 0 0 20px 30px;
    padding: 20px 40px;
    border-left: 5px solid rgba($black, 0.03);
    font-size: $fontSizeMedium * 0.8;
    line-height: 1.5em;
    color: rgba($black, 0.6);
    @include mobile {
        margin: 0 0 20px 10px;
        padding: 10px 20px;
    }
}

figure {
    width: 100%;
    display: block;
    margin: 30px 0;
    img {
        max-width: 100%;
        height: auto;
    }
    figcaption {
        padding: 5px 10px;
        margin: 10px 0 0 0;
        border-left: 5px solid rgba($colorAccentAlt, 0.1);
        font-size: $fontSizeTiny;
        color: rgba($colorAccentAlt, 0.8);
    }
}
