.nested_form_field_multiple_items_ingredients {
    .nested_form_field_object {
        padding: 0;
        margin: 0 0 5px;
        background: transparent;
        border: 0;
    }
    .nested_form_field_content {
        @include clearer();
        label {
            font-weight: normal;
            font-size: $fontSizeTiny;
            padding-bottom: 1px;
        }
        .form_field {
            padding: 0;
        }
        .form_field_ingredient_old {
            display: none;
        }
        .form_field_amount,
        .form_field_type,
        .form_field_ingredient {
            float: left;
            input,
            select {
                width: 100%;
            }
        }
        .form_field_amount {
            width: 15%;
            margin: 0 10px 0 0;
        }
        .form_field_type {
            width: 15%;
            margin: 0 10px 0 0;
        }
        .form_field_ingredient {
            width: 50%;
            margin: 0;
        }
    }
}

.form_field_preparation_old {
    display: none;
}

.nested_form_field_multiple_items_preparation {
    .form_field_image {
        display: none;
    }
    .nested_form_field_object {
        padding: 5px !important;
        margin: 0 0 5px !important;
        .textarea_resizable {
            padding: 0 !important;
            textarea {
                padding: 5px !important;
            }
        }
        label {
            display: none !important;
        }
    }
}

.recipe_versions {
    margin: 5px 0 0 0;
    padding: 5px 0 0 0;
    border-top: 1px solid rgba($colorAccent, 0.1);
    a {
        display: inline-block;
        margin: 0 5px 5px 0;
        padding: 5px 10px;
        background: rgba($colorAccent, 0.05);
        border: 1px solid rgba($colorAccent, 0.1);
        color: $colorAccent;
        font-size: $fontSizeSmall;
    }
}