$white: #FFF;
$black: #000;

$colorText: #111111;
$colorTextAlt: #999999;

$colorMain: #FAC323;
$colorMainAlt: #F9770D;
$colorAccent: #3b5998;
$colorAccentAlt: #3b7bbf;

$colorRed: #ef352b;
$colorGreen: #99CB6A;
$colorGreenDark: #1B9E3E;
$colorYellow: #ffcd4f;
$colorBlue: #3b5998;
$colorOrange: #ff981c;

$colorActive: #29C74D;
$colorNotActive: #818181;

$colorMessage: #38B0A6;
$colorMessageAlert: #FFB823;
$colorMessageError: #FF3030;

$colorError: #FD3535;
$colorAccept: #15BA45;
$colorNeutral: #666666;
$colorPositive: #1C9956;
$colorNegative: #FD3535;
$colorInfo: #4a7bbf;

$colorFacebook: #3b5998;
$colorTwitter: #4099FF;
$colorYoutube: #e52d27;
$colorLinkedin: #4875B4;
$colorVimeo: #162221;
$colorInstagram: #517fa4;
$colorPaypal: #3b7bbf;
$colorTumblr: #35465C;


/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v22/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Festive';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/festive/v1/cY9Ffj6KX1xcoDWhJtDqyvPQgag.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$fontFamily: 'Quicksand', sans-serif;
$fontFamilyAlt: 'Festive', sans-serif;
$fontFamilyCode: monospace;

$sizeDesktop: 1200px;
$sizeTablet: 800px;
$sizeMobile: 480px;

$zIndexHigh: 9999;
$zIndexMedium: 9998;
$zIndexNormal: 9997;
$zIndexLow: 9996;

$fontSizeTiny: 0.8rem;
$fontSizeSmall: 0.9rem;
$fontSizeNormal: 1rem;
$fontSizeMedium: 1.2rem;
$fontSizeBig: 1.6rem;
$fontSizeLarge: 1.8rem;
$fontSizeHuge: 3rem;

$zIndex: 1000;
$zIndexHigh: 1001;
$zIndexHighest: 1002;
