@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o9euj9');
  src:  url('fonts/icomoon.eot?o9euj9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o9euj9') format('truetype'),
    url('fonts/icomoon.woff?o9euj9') format('woff'),
    url('fonts/icomoon.svg?o9euj9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinterest:before {
  content: "\e918";
}
.icon-print:before {
  content: "\e919";
}
.icon-whatsapp:before {
  content: "\e91a";
}
.icon-vote_1:before {
  content: "\e913";
}
.icon-vote_2:before {
  content: "\e914";
}
.icon-vote_3:before {
  content: "\e915";
}
.icon-vote_4:before {
  content: "\e916";
}
.icon-vote_5:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e911";
}
.icon-close:before {
  content: "\e912";
}
.icon-list:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-arrow-end:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-up:before {
  content: "\e905";
}
.icon-cutlery:before {
  content: "\e906";
}
.icon-date:before {
  content: "\e907";
}
.icon-delete:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-globe:before {
  content: "\e90a";
}
.icon-group:before {
  content: "\e90b";
}
.icon-person:before {
  content: "\e90c";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-star:before {
  content: "\e90e";
}
.icon-time:before {
  content: "\e90f";
}
.icon-twitter:before {
  content: "\e910";
}
